<!-- <div class="container">
    <form [formGroup]="form" (ngSubmit)="submitReading()" novalidate>
        <div *ngIf="validMessage != ''">
            <h3 class="has-info">{{validMessage}}</h3>
        </div>
        <div class="form-group">
            <label>Select Month</label>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"
                    formControlName="readingDate">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">📅</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Station Name</label>
            <select class="form-control" (change)="stationChange($event)" formControlName="stationName" required>
                <option value="">Please select a station name</option>
                <option *ngFor="let s of stations" [value]="s.stationCode">
                    {{s.stationName}}
                </option>
            </select>
        </div>
        <div class="form-group">
                <label>Quarter Number</label>
                <select class="form-control" formControlName="quarterNumber" required>
                    <option value="">Please select a quarter number</option>
                    <option *ngFor="let q of allQuarterList" [value]="q">
                        {{q}}
                    </option>
                </select>
            </div>
        <div class="form-group">
            <label>Meter Reading</label>
            <input type="number" min="1" class="form-control" formControlName="presReading" required />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="container">
        <ng-container *ngIf="readings | async as readings; else loading">
            <div class="alert alert-fill-warning" *ngIf="readings.length === 0">No results found</div>
        </ng-container>
        <ng-template #loading>
            Loading...
        </ng-template>
    </div>
</div> -->

<div class="container">
    <form [formGroup]="form" (ngSubmit)="searchReading()" novalidate>
        <div *ngIf="validMessage != ''">
            <h3 class="has-info">{{validMessage}}</h3>
        </div>
        <div class="form-group">
                <label>EMS Meter Number</label>
                <select class="form-control" formControlName="emsNumber" required>
                    <option value="">Please select a meter number</option>
                    <option *ngFor="let q of ems" [value]="q.emsno">
                        {{q.emsname}}
                    </option>
                </select>
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="">
        <ng-container *ngIf="readings ; else loading">
            <div class="table-responsive" *ngIf="readings.length > 0; else noContent">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-right">Posting time</th>
                        <th class="text-right">W total</th>
                        <th class="text-right">Var total</th>
                        <th class="text-right">PF</th>
                        <th class="text-right">Va total</th>
                        <th class="text-right">VRY</th>
                        <th class="text-right">VYB</th>
                        <th class="text-right">VBR</th>
                        <th class="text-right">VR</th>
                        <th class="text-right">VY</th>
                        <th class="text-right">VB</th>
                        <th class="text-right">IR</th>
                        <th class="text-right">IY</th>
                        <th class="text-right">IB</th>
                        <th class="text-right">Freq</th>
                        <th class="text-right">VR-H</th>
                        <th class="text-right">VY-H</th>
                        <th class="text-right">VB-H</th>
                        <th class="text-right">IR-H</th>
                        <th class="text-right">IY-H</th>
                        <th class="text-right">IB-H</th>
                    </tr>
                    </thead>
                    <tr *ngFor="let reading of readings">
                        <td class="text-right"> 
                            {{reading.posting_time | date:'dd/MM/yyyy HH:mm:ss'}}
                        </td>
                        <td class="text-right">
                          {{reading.w_total}}
                        </td>
                        <td class="text-right">
                            {{reading.var_total}}
                        </td>
                        <td class="text-right">
                            {{reading.va_total}}
                        </td>
                        <td class="text-right">
                            {{reading.pf}}
                        </td>
                        <td class="text-right">
                           {{reading.vry}}
                        </td>
                        <td class="text-right">
                            {{reading.vyb}}
                        </td>
                        <td class="text-right">
                            {{reading.vbr}}
                        </td>
                        <td class="text-right">
                            {{reading.vr}}
                        </td>
                        <td class="text-right">
                            {{reading.vy}}
                        </td>
                        <td class="text-right">
                            {{reading.vb}}
                        </td>
                        <td class="text-right">
                            {{reading.ir}}
                        </td>
                        <td class="text-right">
                            {{reading.iy}}
                        </td>
                        <td class="text-right">
                            {{reading.ib}}
                        </td>
                        <td class="text-right">
                            {{reading.frequency}}
                        </td>
                        <td class="text-right">
                            {{reading.vr_harmonics}}
                        </td>
                        <td class="text-right">
                            {{reading.vy_harmonics}}
                        </td>
                        <td class="text-right">
                            {{reading.vb_harmonics}}
                        </td>
                        <td class="text-right">
                            {{reading.ir_harmonics}}
                        </td>
                        <td class="text-right">
                            {{reading.iy_harmonics}}
                        </td>
                        <td class="text-right">
                            {{reading.ib_harmonics}}
                        </td>
                    </tr>
                </table>
            </div>
            <ng-template #noContent>
                <div class="alert alert-fill-warning">
                No results found
                </div>
            </ng-template>
        </ng-container>
        <ng-template #loading>
            
        </ng-template>
    </div>